article {
  display: flex;
  flex-direction: column;
  margin: 0 9.375rem 0 9.375rem;
  align-items: center;
}

img {
  display: flex;
  width: 31.25rem;
  height: 25rem;
  border-radius: 0.625rem;
}

h1 {
  display: flex;
  height: auto;
  font-size: 1.875rem;
  font-weight: 600;
  margin-bottom: 0.625rem;
  justify-content: center;
  padding: 1.25rem 1.875rem;
}

p {
  display: flex;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.625rem;
  color: #6c6c6d;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 2.813rem;
}