<section>
  <app-menu-title></app-menu-title>
  <app-big-card
  cardImage = "../../../assets/paisagem.jpg"
  cardTitle = "Uma bela paisagem com um rio em um planalto"
  cardDescription = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora provident sed aspernatur iusto voluptatum distinctio reprehenderit dolorem libero? Deleniti necessitatibus maxime sequi vero corporis quas quidem beatae. Autem, fuga esse! Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora provident sed aspernatur iusto voluptatum distinctio reprehenderit dolorem libero? Deleniti necessitatibus maxime sequi vero corporis quas quidem beatae. Autem, fuga esse!"
  id = "1"
  >
</app-big-card>

<article>
  <app-small-card
  cardImage="../../../assets/ciclista.jpg"
  cardTitle="Prós e contras ao praticar ciclismo no dia a dia"
  cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde culpa est magni vitae rem quasi aliquam facilis fugiat eum odit, quae enim dolore ipsa voluptas beatae dignissimos? Ex, possimus delectus!"
  id="2"
  ></app-small-card>

  <app-small-card
  cardImage="../../../assets/Inteligencia-artificial.jpg"
  cardTitle="Os impactos da Inteligência Artificial - IA em nossas vidas"
  cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora provident sed aspernatur iusto voluptatum distinctio reprehenderit dolorem libero? Deleniti necessitatibus maxime sequi vero corporis quas quidem beatae. Autem, fuga esse!"
  id="3"
  ></app-small-card>

  <app-small-card
  cardImage="../../../assets/cripto.jpg"
  cardTitle="Qual foi a importância das Criptomoedas no sistema econômico"
  cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat minus quis incidunt veniam doloribus molestiae accusantium sapiente nam accusamus exercitationem quo tenetur ratione nesciunt id, iure optio nostrum, eveniet repudiandae!"
  id="4"
  ></app-small-card>
</article>
</section>